* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.roboto-quote {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 300;
font-style: italic;
font-variation-settings:
    "wdth" 100;
}


.roboto-medium {
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 450;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}

.roboto-thick{
font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 800;
font-style: normal;
font-variation-settings:
    "wdth" 100;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
}

.hero {
    background-color: #1F2937;
    height: 50dvh;
    display:flex;
    flex-direction: column;
}

header {
    display: flex;
    color: #F9FAF8;
    align-items: center;
    justify-content: space-around;
    height: 60px;
    flex: 0 0 auto;
}

.logo {
    font-size: 24px;
}

header ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    gap: 30px;
}

main {
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
}

.hero-text{
    display: flex;
    flex-direction: column;
    flex: 1 0 0;
    color: #F9FAF8;
    gap: 8px;
    padding: 20px;
    max-width: 400px;
    min-width: 200px;
}



.title{
    font-size: 48px;
    color: #F9FAF8;
}

.hero-image{
    flex: 1 0 auto;
    height: 199px;
    background-color: gray;
    max-width: 400px;
    min-width: 200px;
}

.hero-text button{
    font-size: 20px;
    color: #F9FAF8;
    align-self: flex-start;
    background-color: #3882F6;
    border: 0;
    border-radius: 8px;
    padding: 8px 25px;
}

.information {
    padding: 70px 200px;
    height: 50dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-title{
    color: #1F2937;
    font-size: 36px;
    display: flex;
    flex: 1;
    align-items: center;
}
.information-items {
    flex: 2;
    display: flex;
}

.information-items figure{
    max-width: 220px;
    display: flex;
    flex-direction: column;
}

.information-items img{
    max-height: 170px;
    border-radius: 20px;
    margin: 8px 16px;
    flex: 2;
    border: #3882F6 4px solid;
}

.information-items figcaption{
    padding: 0 30px;
    flex: 1;
    text-align: center;
}

.quote {
    height: 50dvh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 350px;
}

.phrase{
    font-size: 36px;
}

.by{
    align-self: flex-end;
}

.call-to-action {
    color: white;
    height: 40dvh;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container {
    gap: 120px;
    padding:  50px 200px;
    display: flex;
    align-items: center;
    background-color: #3882F6;
}

.container button{
    font-size: 18px;
    padding: 8px 40px;
    background-color: inherit;
    border: white 2px solid;
    border-radius: 8px;
    color: #F9FAF8;
}

.footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10dvh;
    background-color:#1F2937 ;
}